@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  @apply container mx-auto mt-40 mb-20 flex justify-between w-full;
}

.home h1 {
  @apply text-black leading-tight;
  font-size: 90px;
}

.home h2 {
  @apply text-gray-500 leading-tight;
  font-size: 50px;
  overflow-wrap: break-word;
}

.home h3 {
  @apply text-gray-500;
  font-size: 20px;
}

.home p {
  @apply sm:my-2 text-yellow-800;
  font-size: 24px;
}

.home-btn {
  @apply ring-2 ring-yellow-700 bg-transparent text-yellow-700 rounded-lg px-20 py-4 hover:bg-yellow-500 hover:text-white hover:cursor-pointer transition-colors duration-200;
  font-size: 20px;
}

/* Small devices */
@media (max-width: 768px) {
  .home {
    @apply flex-col mt-36;
  }

  .home h1 {
    @apply mb-4;
    font-size: 76px;
  }

  .home h2 {
    @apply leading-10 mt-4 mb-8;
    font-size: 36px;
  }

  .home h3 {
    @apply mb-4;
  }

  .home p {
    @apply mt-4 mb-4; /* margin-top: 10px; */
  }

  .home-btn-container {
    @apply mt-10 mb-8;
  }
}
